html{
    background-color:white;
    width: 1500px;
    padding: 10px;
}

h1{
    font-size: 100px;
    background-color: fuchsia;
    font-weight: 500px;
    padding: 10px;
    width: 1000px;
}

h2{
    font-size: 60px;
    background-color: fuchsia;
    font-weight: 300px;
    width: 1000px;
}

h3{
    font-size: 60px;
    background-color: fuchsia;
    font-weight: 300;
    width: 1000px;
}

body{
    width: 800px;
    padding: 10px;
}

li{
    font-size: x-large;
}
p{
    font-size: x-large;
}

table,td,th{
    border: 1px solid #333;
    text-transform: capitalize;
}

thead, tfoot{
    background-color: #333;
    color: #fff;
}

colgroup{
    background-color: green;
}